$black:                                 #000000
$white:                                 #FFFFFF

$red-50:                                #FBEBEF
$red-100:                               #F7D7DF
$red-200:                               #EDA3B5
$red-300:                               #E06785
$red-400:                               #D6335C
$red-500:                               #CC0033
$red-600:                               #A30029
$red-700:                               #7A001E
$red-800:                               #620018
$red-900:                               #4A0012

$green-50:                              #E9F8F6
$green-100:                             #CFF1ED
$green-200:                             #9EE3DB
$green-300:                             #5FD0C4
$green-400:                             #36C2B5
$green-500:                             #21BBAF
$green-600:                             #169589
$green-700:                             #0C3725
$green-800:                             #092A1C
$green-900:                             #061F15

$gray-50:                               #EDEDED
$gray-100:                              #DADBDB
$gray-200:                              #ABABAC
$gray-300:                              #747575
$gray-400:                              #454546
$gray-500:                              #161718
$gray-600:                              #121213
$gray-700:                              #0D0E0E
$gray-800:                              #0D0E0E
$gray-900:                              #080809

$blue-50:                               #E6F2F8
$blue-100:                              #CCE5F1
$blue-200:                              #99CBE3
$blue-300:                              #5FA8D0
$blue-400:                              #2F86B8
$blue-500:                              #046696
$blue-600:                              #03527A
$blue-700:                              #023E5D
$blue-800:                              #01324A
$blue-900:                              #012638
