@use "sass:map";
@use "font";
@use "colors" as *;

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";

// 2. Include any default variable overrides here
$enable-negative-margins:               true;

$min-contrast-ratio:                    2.5;

$primary:                               $gray-500;
$secondary:                             $red-500;
$dark:                                  $gray-800;
$light:                                 $gray-200;
$success:                               $gray-700;
$info:                                  $black;

$body-color:                            $gray-400;
$body-bg:                               #FAFAFA;

$font-family-sans-serif:                "Inter", sans-serif;
$font-family-base:                      $font-family-sans-serif;
$font-family-icons:                     "Material Symbols Rounded";
$font-family-skoda-bold:                "Škoda Bold";
$font-family-skoda-regular:             "Škoda Regular";
$font-family-skoda-thin:                "Škoda Thin";

$font-weight-bold:                      700;
$font-weight-semibold:                  600;
$font-weight-medium:                    500;
$font-weight-regular:                   400;
$font-weight-light:                     300;

$font-size-base:                        1rem;           // 16px
$font-size-sm:                          .625rem;        // 10px

$font-sizes: (
    1:                                  2.75rem,        // 44px
    2:                                  1.25rem,        // 20px
    4:                                  .9375rem,       // 15px
    5:                                  .8125rem,       // 13px
    6:                                  $font-size-sm,  // 10px
);

$spacer:                                1rem;
$spacers: (
    0:                                  0,
    1:                                  $spacer * .25,
    2:                                  $spacer * .5,
    3:                                  $spacer,
    4:                                  $spacer * 1.5,
    5:                                  $spacer * 3,
    10:                                 $spacer * 6,
);

$line-height-base:                      1.5;

$headings-font-family:                  $font-family-base;
$headings-font-weight:                  $font-weight-semibold;
$headings-color:                        $gray-500;

$header-bg:                             $white;
$header-border-color:                   $gray-50;
$header-border-width:                   1px;

$header-logo-sm-height:                 auto;           // auto for turn off - this value is relevant from breakpoint below (not included) down
$header-logo-sm-height-breakpoint:      "xxl";          // sm, md, lg, xl, xxl

$header-icon-link-color:              $gray-50;
$header-icon-link-hover-color:        $red-600;
$header-icon-link-font-size:          map.get($font-sizes, 2);

$header-sitepicker-nav-link-color:      $gray-50;
$header-sitepicker-nav-link-font-size:  map.get($font-sizes, 4);

$header-sitepicker-toggler-font-size:   $font-size-sm;

$header-sitepicker-nav-level-1-bg:                  $white;
$header-sitepicker-nav-level-1-max-height:          400px;
$header-sitepicker-nav-level-1-padding-x:           0;
$header-sitepicker-nav-level-1-padding-y:           10px;
$header-sitepicker-nav-level-1-link-color:          $black;
$header-sitepicker-nav-level-1-link-hover-color:    $gray-500;
$header-sitepicker-nav-level-1-link-font-size:      $header-sitepicker-nav-link-font-size;
$header-sitepicker-nav-level-1-link-padding-x:      15px;
$header-sitepicker-nav-level-1-link-padding-y:      5px;

$h1-font-size:                          2.75rem;                    // 40px
$h2-font-size:                          2rem;                       // 32px
$h3-font-size:                          1.25rem;                    // 20px
$h4-font-size:                          map.get($font-sizes, 4);    // 15px

$link-color:                            $primary;
$link-hover-color:                      $gray-400;
$link-decoration:                       none;

$nav-link-color:                        $link-color;
$nav-link-hover-color:                  $link-hover-color;
$nav-link-after-height:                 0;        // 0 for turn off
$nav-link-padding-x:                    0;
$nav-link-padding-y:                    0;
$nav-link-font-weight:                  $font-weight-semibold;
$nav-link-font-size:                    map.get($font-sizes, 5);
$nav-link-vertical-fluid:               false;
$nav-link-submenu-toggler-color:        $nav-link-color;
$nav-link-submenu-toggler-font-size:    $font-size-base;
$nav-link-hover-submenu-toggler-color:  $nav-link-hover-color;

$nav-pills-link-active-color:           $red-500;
$nav-pills-link-active-bg:              transparent;

$nav-level-1-bg:                        $white;
$nav-level-1-box-shadow:                0px 20px 20px rgba(34, 45, 50, 0.1);        // false for turn off
$nav-level-1-max-height:                570px;
$nav-level-1-min-width:                 false;      // false for fluid
$nav-level-1-padding-x:                 0;
$nav-level-1-padding-y:                 40px;
$nav-level-1-border:                    $header-border-width solid $header-border-color;          // 0 for turn off
$nav-level-1-link-font-size:            $nav-link-font-size;
$nav-level-1-link-font-weight:          $nav-link-font-weight;
$nav-level-1-link-color:                $nav-link-color;
$nav-level-1-link-hover-color:          $nav-link-hover-color;
$nav-level-1-link-hover-bg:             transparent;
$nav-level-1-link-hover-underline-color:transparent;
$nav-level-1-link-active-color:         $nav-pills-link-active-color;
$nav-level-1-link-active-underline-color:   transparent;
$nav-level-1-link-active-bg:            transparent;
$nav-level-1-link-padding-x:            0;
$nav-level-1-link-padding-y:            3px;
$nav-level-1-link-underline-height:     1px;        // 0 for turn off
$nav-level-1-link-underline-color:      transparent;
$nav-level-1-link-underline-offset:     1px;
$nav-level-1-link-before-content:       none;        // none for turn off | you can use phosporicons
$nav-level-1-link-before-color:         $primary;
$nav-level-1-link-before-margin-right:  8px;
$nav-level-1-link-before-font-size:     $nav-level-1-link-font-size;

$nav-level-2-padding-x:                 0;
$nav-level-2-padding-y:                 0;
$nav-level-2-link-font-size:            $nav-link-font-size;
$nav-level-2-link-font-weight:          $font-weight-regular;
$nav-level-2-link-color:                $nav-link-color;
$nav-level-2-link-hover-color:          $nav-link-hover-color;
$nav-level-2-link-hover-bg:             transparent;
$nav-level-2-link-active-color:         $nav-pills-link-active-color;
$nav-level-2-link-active-bg:            transparent;
$nav-level-2-link-padding-x:            0;
$nav-level-2-link-padding-y:            3px;
$nav-level-2-link-after-height:         0;        // 0 for turn off

$border-radius:                         0;
$border-radius-lg:                      $border-radius * 1.5;
$border-radius-sm:                      $border-radius * 0.8;

$card-border-width:                     0;
$card-border-radius:                    $border-radius;

$offcanvas-toggler-font-size:           $font-size-sm;
$offcanvas-toggler-color:               $nav-link-color;
$offcanvas-toggler-icon-font-size:      $h2-font-size;
$offcanvas-toggler-close-color:         $offcanvas-toggler-color;
$offcanvas-bg-color:                    $body-bg;

$offcanvas-nav-link-color:              $nav-link-color;
$offcanvas-nav-link-font-size:          map.get($font-sizes, 4);
$offcanvas-nav-link-font-weight:        $nav-link-font-weight;

$offcanvas-nav-level-1-link-color:          $offcanvas-nav-link-color;
$offcanvas-nav-level-1-link-font-size:      map.get($font-sizes, 4);
$offcanvas-nav-level-1-link-font-weight:    $font-weight-medium;
$offcanvas-nav-level-1-icon-font-weight:    $font-size-sm;

$btn-border-radius:                     0;
$btn-border-width:                      2px;
$btn-font-weight:                       $font-weight-semibold;
$btn-font-size:                         map.get($font-sizes, 4);
$btn-padding-x:                         24px;
$btn-padding-y:                         14px;
$btn-padding-x-sm:                      20px;
$btn-padding-y-sm:                      10px;

$slider-navigation-color:               $white;
$slider-navigation-bg:                  transparent;
$slider-navigation-font-size:           map.get($font-sizes, 3);
$slider-navigation-width:               40px;
$slider-navigation-height:              $slider-navigation-width;
$slider-navigation-sides-offset:        40px;
$slider-navigation-hover-color:         $primary;
$slider-navigation-hover-bg:            $white;
$slider-navigation-border-width:        2px;    // 0 for turn off
$slider-navigation-border-color:        $white;
$slider-navigation-border-radius:       $btn-border-radius;

$slider-pagination-bg:                  rgba($white, 1);
$slider-pagination-inactive-bg:         rgba($white, .45);
$slider-pagination-width:               8px;
$slider-pagination-inactive-width:      8px;
$slider-pagination-height:              8px;
$slider-pagination-border-radius:       $border-radius;
$slider-pagination-bottom:              20px;

$slider-title-font-family:              $headings-font-family;
$slider-title-font-size:                map.get($font-sizes, 1);
$slider-title-font-weight:              $font-weight-bold;
$slider-title-color:                    $white;

$scrollable-navigation-color:           $primary;
$scrollable-navigation-bg:              transparent;
$scrollable-navigation-font-size:       $slider-navigation-font-size;
$scrollable-navigation-width:           $slider-navigation-width;
$scrollable-navigation-height:          $scrollable-navigation-width;
$scrollable-navigation-top-offset:      calc(0px - $scrollable-navigation-height - map.get($spacers, 5));
$scrollable-navigation-sides-offset:    0px;
$scrollable-navigation-hover-color:     $slider-navigation-hover-color;
$scrollable-navigation-hover-bg:        $slider-navigation-hover-bg;
$scrollable-navigation-border-width:    1px;    // 0 for turn off
$scrollable-navigation-border-color:    $gray-100;
$scrollable-navigation-border-radius:   $slider-navigation-border-radius;
$scrollable-navigation-disabled-color:  $gray-100;
$scrollable-navigation-disabled-bg:     $scrollable-navigation-bg;
$scrollable-navigation-disabled-border-color:   $scrollable-navigation-border-color;
$scrollable-navigation-display:         flex;           // none | flex

$scrollable-pagination-bg:              $primary;
$scrollable-pagination-inactive-bg:     $gray-200;
$scrollable-pagination-width:           $slider-pagination-width;
$scrollable-pagination-inactive-width:  $slider-pagination-inactive-width;
$scrollable-pagination-height:          $scrollable-pagination-width;
$scrollable-pagination-border-radius:   $slider-pagination-border-radius;
$scrollable-pagination-bottom:          auto;
$scrollable-pagination-top:             calc($scrollable-navigation-top-offset + ($scrollable-navigation-height / 2) - ($scrollable-pagination-height / 2));
$scrollable-pagination-display:         flex;           // none | flex

$scrollable-scrollbar-display:          none;           // none | block

$dropdown-bg:                           $white;
$dropdown-border-color:                 $gray-300;
$dropdown-border-width:                 $btn-border-width;
$dropdown-color:                        $black;
$dropdown-font-size:                    $btn-font-size;
$dropdown-min-width:                    100%;
$dropdown-item-padding-x:               $btn-padding-x;
$dropdown-item-padding-y:               7px;
$dropdown-link-active-bg:               $gray-200;
$dropdown-link-active-color:            $black;

$badge-font-size:                       $font-size-sm;
$badge-font-weight:                     $font-weight-semibold;
$badge-padding-x:                       10px;
$badge-padding-y:                       6px;
$badge-border-radius:                   30px;

$text-gap-base:                         1.5rem;
$text-gap-lg:                           2.5rem;
$text-color:                            $gray-400;
$text-font-size:                        map.get($font-sizes, 4);
$text-strong-font-weight:               $font-weight-bold;
$text-link-color:                       $primary;
$text-link-font-weight:                 $font-weight-semibold;
$text-link-underline-color:             $text-link-color;
$text-link-hover-color:                 $body-color;
$text-link-hover-underline-color:       $text-link-hover-color;
$text-table-head-bg:                    $gray-300;
$text-table-head-font-size:             $h3-font-size;
$text-table-body-font-size:             $font-size-base;

$material-symbol-font-family:               $font-family-icons;
$material-symbol-font-weight:               $font-weight-light;
$material-symbol-font-size:                 1.2em;
$material-symbol-box-gap:                   map.get($spacers, 2);
$material-symbol-bg-size:                   1.7em;
$material-symbol-bg-border-radius:          $btn-border-radius;
$material-symbol-bg-box-shadow:             0 0 0 0;

$footer-font-size:                      map.get($font-sizes, 4);
$footer-color:                          $gray-400;
$footer-bg:                             $gray-50;

$footer-contact-font-size:                  $footer-font-size;
$footer-contact-link-font-weight:           $font-weight-medium;
$footer-contact-link-color:                 $primary;
$footer-contact-link-underline-height:      1px;        // 0 for turn off
$footer-contact-link-underline-color:       $footer-contact-link-color;
$footer-contact-link-hover-color:           $link-hover-color;
$footer-contact-link-hover-underline-color: $footer-contact-link-hover-color;
$footer-contact-phone-font-size:            $font-size-base;
$footer-contact-phone-font-weight:          $font-weight-semibold;
$footer-contact-phone-symbol-font-size:     1.5em;
$footer-contact-email-font-size:            $footer-contact-phone-font-size;
$footer-contact-email-font-weight:          $footer-contact-phone-font-weight;
$footer-contact-email-symbol-font-size:     $footer-contact-phone-symbol-font-size;

$footer-toggle-border-width:            1px;
$footer-toggle-border-color:            $gray-100;
$footer-toggler-color:                  $footer-color;

$footer-bottom-bg:                      $footer-bg;
$footer-bottom-font-size:               $footer-font-size;
$footer-bottom-color:                   $footer-color;
$footer-bottom-border-width:            $footer-toggle-border-width;
$footer-bottom-border-color:            $footer-toggle-border-color;

$footer-signature-color:                $gray-400;
$footer-signature-hover-color:          $gray-500;

$footer-nav-link-color:                 $gray-500;
$footer-nav-link-font-weight:           $font-weight-regular;
$footer-nav-link-font-size:             $footer-font-size;
$footer-nav-link-underline-height:      1px;        // 0 for turn off
$footer-nav-link-underline-color:       $footer-nav-link-color;
$footer-nav-link-hover-color:           $primary;
$footer-nav-link-hover-underline-color: $footer-nav-link-hover-color;
$footer-nav-link-before-content:        $nav-level-1-link-before-content;        // none for turn off
$footer-nav-link-before-color:          $nav-level-1-link-before-color;
$footer-nav-link-before-top:            2px;
$footer-nav-link-before-margin-right:   $nav-level-1-link-before-margin-right;
$footer-nav-link-before-font-size:      $nav-level-1-link-before-font-size;

$footer-heading-color:                  $primary;
$footer-heading-font-weight:            $font-weight-semibold;
$footer-heading-font-size:              $h3-font-size;
$footer-heading-after:                  false;      // true | false
$footer-heading-after-color:            $primary;

$footer-cookies-link-color:             $footer-contact-link-color;
$footer-cookies-link-hover-color:       $footer-contact-link-hover-color;
$footer-cookies-font-size:              $footer-contact-font-size;

$post-image-border-radius:                  $border-radius;
$post-image-overlay-bg:                     rgba($primary, .25);
$post-image-overlay-bg-image:               none;
$post-image-overlay-icon-bg:                rgba($black, .35);
$post-image-overlay-icon-bg-width:          0;
$post-image-overlay-icon-bg-height:         $post-image-overlay-icon-bg-width;
$post-image-overlay-icon-bg-border-radius:  6px;
$post-image-overlay-icon-font-size:         map.get($font-sizes, 2);
$post-image-overlay-icon-color:             transparent;
$post-title-font-size:                      $h3-font-size;
$post-title-font-weight:                    $font-weight-semibold;
$post-title-color:                          $primary;
$post-title-underline-color:                transparent;
$post-hover-title-color:                    $primary;
$post-hover-title-underline-color:          $primary;
$post-font-weight-bold:                     $font-weight-bold;
$post-perex-font-size:                      map.get($font-sizes, 4);
$post-perex-color:                          $gray-400;
$post-details-font-size:                    $font-size-sm;
$post-details-color:                        $light;
$post-link-bg:                              transparent;
$post-link-padding-x:                       0;
$post-link-padding-y:                       0;
$post-link-border-color:                    transparent;
$post-link-border-width:                    0;
$post-link-border-radius:                   $border-radius;

$map-card-header-bg:                    $white;
$map-card-footer-bg:                    $white;

$sidebar-nav-bg:                        $gray-300;      // default $gray-300
$sidebar-nav-padding-x:                 0;           // default 20px
$sidebar-nav-padding-y:                 5px;            // default 5px
$sidebar-nav-border-width:              0;
$sidebar-nav-border-color:              transparent;
$sidebar-nav-border-radius:             $border-radius;

$sidebar-nav-item-before-content:       "chevron_right";    // none for turn off
$sidebar-nav-item-before-font-family:   $font-family-icons;
$sidebar-nav-item-before-font-size:     $nav-level-1-link-before-font-size;
$sidebar-nav-item-before-color:         $primary;
$sidebar-nav-item-after-content:        none;       // none for turn off
$sidebar-nav-item-after-font-family:    $sidebar-nav-item-before-font-family;
$sidebar-nav-item-after-font-size:      $sidebar-nav-item-before-font-size;
$sidebar-nav-item-after-color:          $sidebar-nav-item-before-color;
$sidebar-nav-item-separator-height:     1px;            // default 1px, 0 for turn off
$sidebar-nav-item-separator-bg:         $gray-200;
$sidebar-nav-item-separator-fluid:      false;

$sidebar-nav-item-active-before-content:    none;       // none for turn off
$sidebar-nav-item-active-after-content:     "chevron_right";    // none for turn off

$sidebar-nav-link-color:                $gray-500;
$sidebar-nav-link-font-size:            $font-size-base;
$sidebar-nav-link-font-weight:          $font-weight-regular;
$sidebar-nav-link-bg:                   transparent;
$sidebar-nav-link-underline-color:      $sidebar-nav-link-color;
$sidebar-nav-link-padding-x:            20px;           // default 0
$sidebar-nav-link-padding-y:            10px;

$sidebar-nav-link-hover-color:              $primary;
$sidebar-nav-link-hover-underline-color:    $primary;
$sidebar-nav-link-hover-bg:                 transparent;

$sidebar-nav-link-active-color:             $primary;
$sidebar-nav-link-active-font-weight:       $font-weight-medium;
$sidebar-nav-link-active-underline-color:   transparent;
$sidebar-nav-link-active-bg:                transparent;

$sidebar-nav-level-1-bg:                            transparen;     // default $gray-500
$sidebar-nav-level-1-padding:                       0 0 $sidebar-nav-link-padding-y 10px;

$sidebar-nav-level-1-item-before-content:           $sidebar-nav-item-before-content;    // none for turn off
$sidebar-nav-level-1-item-before-font-family:       $font-family-icons;
$sidebar-nav-level-1-item-before-font-size:         $sidebar-nav-item-before-font-size;
$sidebar-nav-level-1-item-before-color:             $primary;
$sidebar-nav-level-1-item-after-content:            none;       // none for turn off
$sidebar-nav-level-1-item-after-font-family:        $font-family-icons;
$sidebar-nav-level-1-item-after-font-size:          $sidebar-nav-level-1-item-before-font-size;
$sidebar-nav-level-1-item-after-color:              $primary;

$sidebar-nav-level-1-item-active-before-content:    none;       // none for turn off
$sidebar-nav-level-1-item-active-after-content:     "chevron_right";    // none for turn off

$sidebar-nav-level-1-link-color:                    $sidebar-nav-link-color;
$sidebar-nav-level-1-link-font-size:                $sidebar-nav-link-font-size;
$sidebar-nav-level-1-link-font-weight:              $font-weight-regular;
$sidebar-nav-level-1-link-bg:                       transparent;
$sidebar-nav-level-1-link-underline-color:          $sidebar-nav-link-color;
$sidebar-nav-level-1-link-padding-x:                $sidebar-nav-link-padding-x;
$sidebar-nav-level-1-link-padding-y:                2px;

$sidebar-nav-level-1-link-hover-color:              $primary;
$sidebar-nav-level-1-link-hover-underline-color:    $primary;
$sidebar-nav-level-1-link-hover-bg:                 transparent;

$sidebar-nav-level-1-link-active-color:             $primary;
$sidebar-nav-level-1-link-active-font-weight:       $font-weight-medium;
$sidebar-nav-level-1-link-active-underline-color:   transparent;
$sidebar-nav-level-1-link-active-bg:                transparent;

$table-border-color:                    $gray-500;
$table-cell-padding-x:                  24px;
$table-cell-padding-y:                  16px;
$table-th-font-weight:                  $font-weight-medium;

$breadcrumb-bg:                         transparent;
$breadcrumb-padding:                    map.get($spacers, 4) 0 0;           // padding of #breadcrumb (.breadcrumb wrapper)
$breadcrumb-margin-bottom:              0;                                  // overwrite default bootstrap .breadcrumb margin
$breadcrumb-divider:                    "/";
$breadcrumb-divider-color:              $body-color;
$breadcrumb-font-size:                  $font-size-sm;
$breadcrumb-font-weight:                $font-weight-medium;
$breadcrumb-active-color:               $gray-500;
$breadcrumb-link-color:                 $body-color;
$breadcrumb-link-underline-color:       $breadcrumb-link-color;
$breadcrumb-link-hover-color:           $primary;
$breadcrumb-link-hover-underline-color: $breadcrumb-link-hover-color;
$breadcrumb-home-link-font-size:        $h2-font-size;
$breadcrumb-home-link-color:            $breadcrumb-link-color;
$breadcrumb-home-link-hover-color:      $breadcrumb-link-hover-color;

$file-link-color:                       $body-color;
$file-link-underline-color:             $body-color;
$file-link-hover-color:                 $primary;
$file-link-hover-underline-color:       $file-link-hover-color;

$flash-message-bg:                      $primary;
$flash-message-icon-font-size:          map.get($font-sizes, 1);
$flash-message-icon-color:              $white;
$flash-message-title-color:             $white;
$flash-message-title-font-weight:       $headings-font-weight;
$flash-message-text-color:              $flash-message-title-color;

$image-text-image-border-radius:        $border-radius-lg;

$icon-font-font-size:                   $font-size-base;
$icon-font-font-size-lg:                map.get($font-sizes, 2);
$icon-link-color:                       $body-color;
$icon-link-hover-color:                 $primary;
$icon-light-link-color:                 $gray-500;
$icon-light-link-hover-color:           $icon-link-hover-color;
$icon-box-link-bg:                      rgba($white, .1);
$icon-box-link-width:                   20px;
$icon-box-link-height:                  $icon-box-link-width;
$icon-box-link-hover-bg:                rgba($white, .15);
$icon-box-link-border-radius:           if($border-radius > 0, 50%, $border-radius);
$icon-box-link-color:                   $link-color;
$icon-box-link-hover-color:             $link-hover-color;
$icon-mask-image-width:                 16px;
$icon-mask-image-height:                $icon-mask-image-width;
$icon-mask-image-bg:                    $link-color;
$icon-mask-image-hover-bg:              $link-hover-color;

$input-padding-x:                       15px;
$input-padding-y:                       10px;
$input-font-size:                       map.get($font-sizes, 5);
$input-border-color:                    $gray-100;
$input-color:                           $body-color;
$input-placeholder-color:               $gray-200;
$input-focus-box-shadow:                none;
$input-focus-border-color:              $body-color;
$input-group-addon-border-color:        transparent;
$input-group-addon-bg:                  transparent;
$input-group-addon-color:               $input-color;
$input-group-addon-font-size:           $input-font-size;

$form-check-input-border-radius:        $border-radius;
$form-check-input-border:               1px solid $body-color;
$form-check-input-checked-border-color: $body-color;
$form-check-input-checked-bg-color:     transparent;
$form-check-input-checked-color:        $body-color;
$form-check-input-checked-bg-image:     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' fill='currentColor'%3E%3Cpath d='M382-253.85 168.62-467.23 211.38-510 382-339.38 748.62-706l42.76 42.77L382-253.85Z'/%3E%3C/svg%3E");
$form-check-input-focus-box-shadow:     none;

$gallery-image-border-radius:                   $post-image-border-radius;
$gallery-image-overlay-bg:                      $post-image-overlay-bg;
$gallery-image-overlay-bg-image:                $post-image-overlay-bg-image;
$gallery-image-overlay-icon-color:              $post-image-overlay-icon-color;
$gallery-image-overlay-icon-font-size:          $post-image-overlay-icon-font-size;
$gallery-image-overlay-icon-bg:                 $post-image-overlay-icon-bg;
$gallery-image-overlay-icon-bg-width:           $post-image-overlay-icon-bg-width;
$gallery-image-overlay-icon-bg-height:          $post-image-overlay-icon-bg-height;
$gallery-image-overlay-icon-bg-border-radius:   $post-image-overlay-icon-bg-border-radius;

$pagination-color:                              $nav-level-1-link-color;
$pagination-border-color:                       transparent;
$pagination-hover-color:                        $nav-level-1-link-hover-color;
$pagination-hover-bg:                           transparent;
$pagination-hover-border-color:                 transparent;
$pagination-active-color:                       $nav-level-1-link-active-color;
$pagination-active-bg:                          transparent;
$pagination-active-border-color:                transparent;
$pagination-focus-bg:                           transparent;
$pagination-focus-box-shadow:                   none;
$pagination-link-underline-color:               transparent;
$pagination-link-hover-underline-color:         $pagination-hover-color;
$pagination-link-active-underline-color:        $pagination-link-hover-underline-color;
$pagination-disabled-color:                     $pagination-color;
$pagination-disabled-border-color:              $pagination-border-color;
$pagination-disabled-bg:                        transparent;

$timeline-heading-justify-content:              center;
$timeline-title-font-size:                      $h2-font-size;
$timeline-title-font-weight:                    $headings-font-weight;
$timeline-title-font-family:                    $headings-font-family;
$timeline-title-bg:                             $primary;
$timeline-title-color:                          $white;
$timeline-title-border-radius:                  $border-radius-lg;
$timeline-title-border-width:                   0;
$timeline-title-border-color:                   $timeline-title-bg;
$timeline-title-padding-x:                      map.get($spacers, 3);
$timeline-title-padding-y:                      map.get($spacers, 3);
$timeline-title-width:                          auto;
$timeline-title-height:                         auto;
$timeline-title-sm-font-size:                   map.get($font-sizes, 2);
$timeline-title-sm-font-weight:                 $headings-font-weight;
$timeline-title-sm-font-family:                 $headings-font-family;
$timeline-title-sm-color:                       $primary;
$timeline-events-before-width:                  4px;
$timeline-events-before-bg:                     $primary;
$timeline-event-before-bg:                      $primary;
$timeline-event-before-width:                   30px;
$timeline-event-before-height:                  30px;
$timeline-event-before-border-radius:           50%;
$timeline-event-before-border-width:            0;
$timeline-event-before-border-border-color:     $timeline-event-before-bg;
$timeline-card-bg:                              $gray-100;
$timeline-card-width:                           40%;
$timeline-card-border-radius:                   $border-radius;
$timeline-card-border-width:                    0;
$timeline-card-border-color:                    $timeline-card-bg;

$link-image-border-radius:                  $post-image-border-radius;
$link-image-overlay-bg:                     $post-image-overlay-bg;
$link-image-overlay-bg-image:               $post-image-overlay-bg-image;
$link-image-overlay-icon-bg:                $post-image-overlay-icon-bg;
$link-image-overlay-icon-bg-width:          $post-image-overlay-icon-bg-width;
$link-image-overlay-icon-bg-height:         $post-image-overlay-icon-bg-height;
$link-image-overlay-icon-bg-border-radius:  $post-image-overlay-icon-bg-border-radius;
$link-image-overlay-icon-font-size:         $post-image-overlay-icon-font-size;
$link-image-overlay-icon-color:             $post-image-overlay-icon-color;
$link-title-font-size:                      map.get($font-sizes, 4);
$link-title-font-weight:                    $font-weight-bold;
$link-title-color:                          $post-title-color;
$link-title-underline-color:                $post-title-underline-color;
$link-hover-title-color:                    $post-hover-title-color;
$link-hover-title-underline-color:          $post-hover-title-underline-color;
$link-font-weight-bold:                     $post-font-weight-bold;
$link-perex-font-size:                      map.get($font-sizes, 5);
$link-perex-color:                          $post-perex-color;
$link-link-bg:                              $post-link-bg;
$link-link-padding-x:                       $post-link-padding-x;
$link-link-padding-y:                       $post-link-padding-y;
$link-link-border-color:                    $post-link-border-color;
$link-link-border-width:                    $post-link-border-width;
$link-link-border-radius:                   $post-link-border-radius;

$dropdown-border-color:                     $primary;
$dropdown-border-width:                     1px;
$dropdown-color:                            $primary;
$dropdown-font-size:                        map.get($font-sizes, 5);
$dropdown-padding-y:                        0;
$dropdown-item-padding-x:                   15px;
$dropdown-item-padding-y:                   10px;
$dropdown-link-color:                       $primary;
$dropdown-link-hover-color:                 $primary;
$dropdown-link-hover-bg:                    $gray-50;
$dropdown-link-active-bg:                   $gray-50;

$accordion-border-color:                    $gray-50;
$accordion-body-padding-x:                  1.25rem;
$accordion-button-bg:                       $gray-50;
$accordion-button-padding-x:                $btn-padding-x;
$accordion-button-padding-y:                $btn-padding-y;
$accordion-button-active-bg:                $gray-50;
$accordion-button-focus-box-shadow:         none;
$accordion-button-icon:                     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' fill='currentColor'%3E%3Cpath d='M480-357.85 253.85-584 296-626.15l184 184 184-184L706.15-584 480-357.85Z'/%3E%3C/svg%3E");
$accordion-button-active-icon:              url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' fill='currentColor'%3E%3Cpath d='m480-541.85-184 184L253.85-400 480-626.15 706.15-400 664-357.85l-184-184Z'/%3E%3C/svg%3E");
$accordion-button-padding-x:                $accordion-body-padding-x;

// 3. Include remainder of required Bootstrap stylesheets
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/accordion";

$utilities: map-merge(
    $utilities,
    (
        "flex-basis": (
            property: flex-basis,
            class: flex-basis,
            responsive: true,
            values: (
                50: 50%,
                100: 100%,
                auto: auto,
            ),
        )
    )
);

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "~bootstrap/scss/utilities/api";

// 8. Add additional custom code here
.text-decoration-none-w-hover {
    text-decoration: underline;
    transition: $transition-base;
    text-decoration-color: transparent !important;
    text-underline-offset: 3px;

    &:hover {
        text-decoration-color: inherit !important
    }
}

@mixin mask-image($image, $width: 24, $height: 24) {
    mask-image: url("../images/#{$image}.svg");
    -webkit-mask-image: url("../images/#{$image}.svg");
    mask-size: cover;
    -webkit-mask-size: cover;
    width: #{$width}px;
    height: #{$height}px;
    display: inline-block;
}

.mi {
    &-facebook {
        @include mask-image("icons/facebook");
    }

    &-instagram {
        @include mask-image("icons/instagram");
    }

    &-youtube {
        @include mask-image("icons/youtube");
    }

    &-linkedin {
        @include mask-image("icons/linkedin");
    }

    &-logo {
        @include mask-image("logo", 111, 40);
    }

    &-signature {
        @include mask-image("signature", 85, 25);
    }

    &-16 {
        width: 16px;
        height: 16px;
    }

    &.link-primary {
        background-color: $primary;
        transition: $transition-base;

        &:hover {
            background-color: $black;
        }
    }
}

.btn {
    &.btn-primary {
        --bs-btn-color: #{$white};
        --bs-btn-bg: #{$gray-500};
        --bs-btn-border-color: transparent;
        --bs-btn-hover-color: var(--bs-btn-color);
        --bs-btn-hover-bg: #{$gray-600};
        --bs-btn-hover-border-color: transparent;

        .material-symbol {
            &__bg {
                background: $white;

                .material-symbol__icon {
                    color: $gray-500;
                }
            }
        }

        &:hover {
            box-shadow: $material-symbol-bg-box-shadow $gray-200;

            .material-symbol {
                &__bg {
                    .material-symbol__icon {
                        color: $gray-600;
                    }
                }
            }
        }
    }

    &.btn-secondary {
        --bs-btn-color: #{$white};
        --bs-btn-bg: #{$red-500};
        --bs-btn-border-color: transparent;
        --bs-btn-hover-color: var(--bs-btn-color);
        --bs-btn-hover-bg: #{$red-600};
        --bs-btn-hover-border-color: transparent;

        .material-symbol {
            &__bg {
                background: $white;

                .material-symbol__icon {
                    color: $red-500;
                }
            }
        }

        &:hover {
            box-shadow: $material-symbol-bg-box-shadow $red-200;

            .material-symbol {
                &__bg {
                    .material-symbol__icon {
                        color: $red-600;
                    }
                }
            }
        }
    }

    &.btn-outline-primary {
        --bs-btn-color: #{$primary};
        --bs-btn-bg: #{$white};
        --bs-btn-border-color: #{$primary};
        --bs-btn-hover-color: #{$white};
        --bs-btn-hover-bg: #{$primary};
        --bs-btn-hover-border-color: #{$primary};

        .material-symbol {
            &__bg {
                background: $white;

                .material-symbol__icon {
                    color: $primary;
                }
            }
        }

        &:hover {
            box-shadow: $material-symbol-bg-box-shadow transparent;

            .material-symbol {
                &__bg {
                    .material-symbol__icon {
                        color: $white;
                    }
                }
            }
        }
    }

    &.btn-outline-light {
        --bs-btn-color: #{$white};
        --bs-btn-bg: transparent;
        --bs-btn-border-color: #{$white};
        --bs-btn-hover-color: #{$primary};
        --bs-btn-hover-bg: #{$white};
        --bs-btn-hover-border-color: #{$white};

        .material-symbol {
            &__bg {
                background: $white;

                .material-symbol__icon {
                    color: $red-500;
                }
            }
        }

        &:hover {
            box-shadow: $material-symbol-bg-box-shadow transparent;

            .material-symbol {
                &__bg {
                    .material-symbol__icon {
                        color: $red-600;
                    }
                }
            }
        }
    }
}

.link {
    &-primary {
        transition: $transition-base;

        .material-symbol {
            &__bg {
                background: $gray-500;

                .material-symbol__icon {
                    color: $white;
                }
            }
        }

        &:hover {
            color: $gray-600 !important;

            .material-symbol {
                &__bg {
                    background: $gray-600;
                    box-shadow: $material-symbol-bg-box-shadow $gray-200;
                }
            }
        }
    }

    &-secondary {
        transition: $transition-base;

        .material-symbol {
            &__bg {
                background: $red-500;

                .material-symbol__icon {
                    color: $white;
                }
            }
        }

        &:hover {
            color: $red-600 !important;

            .material-symbol {
                &__bg {
                    background: $red-600;
                    box-shadow: $material-symbol-bg-box-shadow $red-200;
                }
            }
        }
    }

    &-light {
        transition: $transition-base;
        color: $secondary !important;

        .material-symbol {
            &__bg {
                background: $secondary;

                .material-symbol__icon {
                    color: $white;
                }
            }
        }

        &:hover {
            color: $red-600 !important;

            .material-symbol {
                &__bg {
                    background: $red-600;
                    box-shadow: $material-symbol-bg-box-shadow transparent;
                }
            }
        }
    }
}

a {
    transition: $transition-base;
}

.dropdown {
    &-item {
        font-weight: $font-weight-medium;
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;

        &.active {
            border-color: $gray-100;
        }
    }

    &-menu {
        li {
            &:first-child {
                .dropdown-item {
                    border-top: 0;
                }
            }

            &:last-child {
                .dropdown-item {
                    border-bottom: 0;
                }
            }
        }
    }
}

.input {
    &-group {
        border: $input-border-width solid $input-border-color;

        input {
            border: 0;
        }

        &-text {
            padding-left: 0;
        }

        &:focus-within {
            border-color: $input-focus-border-color;
        }
    }
}
