.flash-message
    background: $flash-message-bg

    &__icon
        color: $flash-message-icon-color
        font-size: $flash-message-icon-font-size !important

    &__title
        color: $flash-message-title-color
        font-weight: $flash-message-title-font-weight

    &__text
        color: $flash-message-text-color
