@font-face
    font-family: "Inter"
    src: url("../fonts/Inter-Variable.ttf") format("truetype-variations")
    font-weight: 1 999

@font-face
    font-family: "Inter"
    src: url("../fonts/Inter-Italic-Variable.ttf") format("truetype-variations")
    font-weight: 1 999
    font-style: italic

@font-face
    font-family: "Material Symbols Outlined"
    src: url("../fonts/MaterialSymbolsOutlined.woff2") format("woff2")
    font-style: normal

@font-face
    font-family: "Material Symbols Rounded"
    src: url("../fonts/MaterialSymbolsRounded.woff2") format("woff2")
    font-style: normal

@font-face
    font-family: "Material Symbols Sharp"
    src: url("../fonts/MaterialSymbolsSharp.woff2") format("woff2")
    font-style: normal

@font-face
    font-family: "Škoda Bold"
    src: url("../fonts/SKODANextW02-Bold.woff2") format("woff2"), url("../fonts/SKODANextW02-Bold.woff") format("woff")

@font-face
    font-family: "Škoda Regular"
    src: url("../fonts/SKODANextW02-Regular.woff2") format("woff2"), url("../fonts/SKODANextW02-Regular.woff") format("woff")

@font-face
    font-family: "Škoda Thin"
    src: url("../fonts/SKODANextW02-Thin.woff2") format("woff2"), url("../fonts/SKODANextW02-Thin.woff") format("woff")
