footer
    .top
        font-size: $footer-font-size
        color: $footer-color
        background-color: $footer-bg

        .col
            .toggle
                border-top: $footer-toggle-border-width solid $footer-toggle-border-color

            .toggler
                color: $footer-toggler-color
                transition: $transition-base

                &.collapsed
                    transform: rotate(180deg)

            .heading
                color: $footer-heading-color
                font-size: $footer-heading-font-size
                font-weight: $footer-heading-font-weight
                position: relative

                @if $footer-heading-after
                    padding-bottom: 7px

                    &:after
                        content: ""
                        position: absolute
                        width: 10px
                        height: 2px
                        bottom: 0
                        background-color: $footer-heading-after-color
                        left: 0

            & > .collapse
                @include media-breakpoint-up(sm)
                    border-top: none !important
                    display: block

    .bottom
        background-color: $footer-bottom-bg
        font-size: $footer-bottom-font-size
        color: $footer-bottom-color

        & > .container-lg
            & > div
                border-top: $footer-bottom-border-width solid $footer-bottom-border-color

    .mi-signature
        background-color: $footer-signature-color
        transition: $transition-base

        &:hover
            background-color: $footer-signature-hover-color

    .contact
        font-size: $footer-contact-font-size

        a
            color: $footer-contact-link-color
            transition: $transition-base
            position: relative
            display: inline-flex
            width: max-content
            text-decoration: underline
            text-decoration-thickness: $footer-contact-link-underline-height
            text-decoration-color: $footer-contact-link-underline-color

            &:hover
                color: $footer-contact-link-hover-color
                text-decoration-color: $footer-contact-link-hover-underline-color

    .phone
        font-size: $footer-contact-phone-font-size

    .email
        font-size: $footer-contact-email-font-size

    .cookies
        font-size: $footer-cookies-font-size

        a
            color: $footer-cookies-link-color

            &:hover
                color: $footer-cookies-link-hover-color

    .nav
        li
            @if $footer-nav-link-before-content != "none"
                position: relative

            &:before
                content: $footer-nav-link-before-content
                color: $footer-nav-link-before-color
                top: $footer-nav-link-before-top
                font-family: $font-family-icons
                margin-right: $footer-nav-link-before-margin-right
                font-size: $footer-nav-link-before-font-size

            a
                color: $footer-nav-link-color
                font-size: $footer-nav-link-font-size
                font-weight: $footer-nav-link-font-weight
                display: inline-flex
                text-decoration: underline
                text-decoration-thickness: $footer-nav-link-underline-height
                text-decoration-color: $footer-nav-link-underline-color
                transition: $transition-base

                &:hover
                    color: $footer-nav-link-hover-color
                    text-decoration-color: $footer-nav-link-hover-underline-color
