.post
    &__img
        border-radius: $post-image-border-radius

    &__overlay
        background-color: $post-image-overlay-bg
        background-image: $post-image-overlay-bg-image
        opacity: 0
        transition: $transition-base

    &__icon-bg
        width: $post-image-overlay-icon-bg-width
        height: $post-image-overlay-icon-bg-height
        background: $post-image-overlay-icon-bg
        border-radius: $post-image-overlay-icon-bg-border-radius

    &__icon
        font-size: $post-image-overlay-icon-font-size !important
        color: $post-image-overlay-icon-color

    &__title
        font-size: $post-title-font-size
        font-weight: $post-title-font-weight
        text-decoration: underline
        text-decoration-color: $post-title-underline-color
        transition: $transition-base
        color: $post-title-color

    &__perex
        font-size: $post-perex-font-size !important

        p
            color: $post-perex-color !important

    &__details
        font-size: $post-details-font-size
        color: $post-details-color
        border-color: $post-details-color

    &__link
        background-color: $post-link-bg
        padding: $post-link-padding-x $post-link-padding-y
        border: $post-link-border-width solid $post-link-border-color
        border-radius: $post-link-border-radius

        &:hover
            .post
                &__overlay
                    opacity: 1

                &__title
                    text-decoration-color: $post-hover-title-underline-color
                    color: $post-hover-title-color
