#page
    &.skoda-ci
        --bs-body-font-family: #{$font-family-skoda-regular}
        font-family: $font-family-skoda-regular

        .btn
            --bs-btn-font-family: #{$font-family-skoda-bold}

        h1, .h1,
        h2, .h2,
        h3, .h3,
        h4, .h4,
        h5, .h5,
        h6, .h6
            font-family: $font-family-skoda-bold
            font-weight: inherit