@use "sass:map"
@use "colors" as *

@import "custom"
@import "header"
@import "offcanvas"
@import "slider"
@import "footer"
@import "post"
@import "map"
@import "sidebar"
@import "breadcrumbs"
@import "cookies"
@import "flash-message"
@import "image-text"
@import "text"
@import "file"
@import "icon"
@import "input"
@import "gallery"
@import "pagination"
@import "timeline"
@import "link"
@import "material-symbol"
@import "scrollable"

.slider
    &--slider
        .swiper
            &-slide
                picture
                    &:after
                        content: ""
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%
                        background: linear-gradient(0deg, rgba($primary, .75) 0%, rgba(#1E1E1E00, 0) 100%)
                        z-index: 10

                .container-fluid
                    z-index: 20

.links
    &--zastupovane-znacky
        background-color: $gray-50
        padding-top: 0 !important
        padding-bottom: 0 !important

        @include media-breakpoint-down(md)
            padding-left: 0 !important
            padding-right: 0 !important

            & > div
                padding-left: 0 !important
                padding-right: 0 !important

                .row
                    .col
                        &:first-child
                            .link
                                &__link
                                    border-left: unset !important

                        &:last-child
                            .link
                                &__link
                                    border-right: unset !important

        & > div
            padding-top: 0 !important
            padding-bottom: 0 !important

            .row
                --bs-gutter-x: 0

                @include row-cols(3)

                .col
                    .link
                        &__link
                            padding-top: map.get($spacers, 4)
                            padding-bottom: map.get($spacers, 4)
                            border-left: 1px solid $gray-100
                            position: relative

                            &:hover
                                background-color: $gray-100

                                &:after
                                    background-color: $primary

                            &:after
                                content: ""
                                position: absolute
                                bottom: 0
                                left: -1px
                                width: calc(100% + 2px)
                                height: 2px
                                background-color: transparent
                                transition: $transition-base
                                z-index: 10

                    &:last-child
                        .link
                            &__link
                                border-right: 1px solid $gray-100

    &--kategorie-vozu
        padding-bottom: map.get($spacers, 5)

        @include media-breakpoint-up(xl)
            & > div
                padding-bottom: map.get($spacers, 4)

        .link
            &__link
                border: 1px solid $gray-100

                &:hover
                    border-color: $primary

    &--partneri
        background-color: $white
        padding-top: map.get($spacers, 4) !important
        padding-bottom: map.get($spacers, 5)

        @include media-breakpoint-up(xl)
            & > div
                padding-bottom: map.get($spacers, 4)

        & > div
            padding-top: map.get($spacers, 2) !important

            .link
                &__link
                    border: 1px solid $gray-100
                    padding: map.get($spacers, 4)

                    &:hover
                        border-color: $primary

    &--podporujeme
        padding-top: map.get($spacers, 4) !important

        & > div
            padding-top: map.get($spacers, 2) !important

            .link
                &__link
                    border: 1px solid $gray-100
                    padding: map.get($spacers, 4)

                    &:hover
                        border-color: $primary

.image-text
    &--o-nas
        padding-bottom: map.get($spacers, 5)

        @include media-breakpoint-up(xl)
            & > div
                padding-bottom: map.get($spacers, 4)

        .row
            .col
                &:last-child
                    & > div
                        background-color: $white

            @include media-breakpoint-down(lg)
                --bs-gutter-y: 0

                .col
                    &:last-child
                        & > div
                            padding: map.get($spacers, 4)

.posts
    &--novinky
        background-color: $white
        padding-bottom: map.get($spacers, 5)

        @include media-breakpoint-up(xl)
            & > div
                padding-bottom: map.get($spacers, 4)

    &--videa
        border-top: 1px solid $gray-100
        padding-bottom: map.get($spacers, 5)

        @include media-breakpoint-up(xl)
            & > div
                padding-bottom: map.get($spacers, 4)

.text
    &--partneri
        background-color: $white

        h2
            margin-bottom: map.get($spacers, 3) !important

        p
            @include media-breakpoint-up(xl)
                @include make-col(8)
                @include make-col-offset(2)

    &--podporujeme
        h2
            margin-bottom: map.get($spacers, 3) !important

        p
            @include media-breakpoint-up(xl)
                @include make-col(8)
                @include make-col-offset(2)

.links-slider
    &--partneri
        background-color: $white
        padding-top: map.get($spacers, 4) !important

        & > div
            padding-top: map.get($spacers, 2) !important

            .link
                &__link
                    border: 1px solid $gray-100
                    padding: map.get($spacers, 4)

                    &:hover
                        border-color: $primary

.oc-progress-bar
    background-color: $red
    height: 5px

#map-wrapper
    #map
        *, ::before, ::after
            box-sizing: unset !important

        .cluster
            div
                background-color: $primary
                border: solid 4px rgba(var(--bs-white-rgb), 0.35)

                span
                    font-weight: $font-weight-medium
                    font-size: $font-size-base
                    font-family: $font-family-base
                    color: $white

                img
                    display: none !important

        .card
            padding: map.get($spacers, 4)

        .hud
            .zoom, .compass
                z-index: 200

                @include media-breakpoint-only(xs)
                    display: none

    #map-input-wrapper
        z-index: 100



// from autostyl theme
// delete finally

.dropdown-toggle
    &:after
        content: none

#about-us
    h2
        position: relative

        &:after
            content: ""
            width: 24px
            height: 3px
            background: $primary
            position: absolute
            bottom: -1.5px
            left: 0

    img
        @include media-breakpoint-up(md)
            border-top-left-radius: 0 !important
            border-bottom-left-radius: 0 !important

footer
    .top
        .row
            .col
                & > div
                    @include media-breakpoint-up(sm)
                        border-top: none !important

#post
    h1
        position: relative

        &:after
            content: ""
            position: absolute
            left: 0
            bottom: -10px
            background-color: $primary
            width: 32px
            height: 3px

    .content
        .pricelist
            @include media-breakpoint-up(xl)
                width: 75%

.contacts-category
    h2
        &:after
            content: ""
            width: 100%
            height: 1px
            background-color: $gray-300
            position: relative
            margin-left: 20px
            flex: 1

    .contacts
        .contact
            a
                color: $body-color
                transition: $transition-base
                position: relative

                &:after
                    content: ""
                    position: absolute
                    bottom: 3px
                    left: 0
                    width: 100%
                    height: $nav-link-after-height
                    transition: $transition-base
                    background-color: transparent

                &:hover
                    color: $primary

                    &:after
                        background-color: $primary

#cookies-bar
    @include media-breakpoint-down(md)
        left: 20px !important

#sg-settings-modal-cookiesbar
    .modal-dialog
        .modal-content
            padding: 40px

            .modal-header
                padding: 0
                border-bottom: none

            .modal-body
                padding: 0

            .modal-footer
                padding: 0
                border-top: none

#page
    .text
        .container-lg
            background-color: $white
            padding: map.get($spacers, 5)

    .image-text
        .container-lg > .row
            background-color: $white

    &.skoda-ci
        --bs-body-font-family: #{$font-family-skoda-regular}
        --bs-btn-font-family: #{$font-family-skoda-bold}

        h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
            font-family: $font-family-skoda-bold
            font-weight: inherit
