{% set posts = __SELF__.posts %}

{% for post in posts %}
    <div class="col event position-relative {{ post.categories.listsNested("slug")|join(" ") }}">
        {% partial "events/event" post=post loop=loop perex=false %}
    </div>
{% endfor %}

{% if posts.lastPage > 1 %}
    <nav class="col-12 w-100 d-flex justify-content-center">
        <ul class="pagination mb-0">
            {% if posts.currentPage > 1 %}
                <li class="page-item d-inline-flex align-items-center">
                    <a href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): (posts.currentPage-1) }) }}" class="page-link d-inline-flex align-items-center">
                        <i class="ph ph-arrow-left"></i>
                    </a>
                </li>
            {% endif %}

            {% for page in 1..posts.lastPage %}
                <li class="page-item {{ posts.currentPage == page ? 'active' : null }}">
                    <a href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): page }) }}" class="page-link">
                        {{ page }}
                    </a>
                </li>
            {% endfor %}

            {% if posts.lastPage > posts.currentPage %}
                <li class="page-item d-inline-flex align-items-center">
                    <a href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): (posts.currentPage+1) }) }}" class="page-link d-inline-flex align-items-center">
                        <i class="ph ph-arrow-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
