[viewBag]
==
<?php
function onStart() {
    use LZaplata\Pages\Models\Page;
    use Cms\Classes\PageManager;

    $postsComponentProperties = $this->page->components["postsslider"]->getProperties();
    $moreButtonLink = $postsComponentProperties["moreButtonLink"] ?? null;

    if ($moreButtonLink) {
        $page = PageManager::resolve($moreButtonLink);
        $page = Page::find($page->reference);

        $this["page"] = $page;
    }
}
?>
==
{% set run = __SELF__.onRun() %}
{% set posts = __SELF__.posts %}
{% set row_cols = __SELF__.properties.rowCols %}
{% set partial = __SELF__.properties.partial %}
{% set more_button_title = __SELF__.properties.moreButtonTitle %}
{% set more_button_link = __SELF__.properties.moreButtonLink %}

{% for post in posts %}
    {% set url = post.setUrl(__SELF__.postPage, __SELF__.controller, {fullslug: page.fullslug}) %}
{% endfor %}

{% partial "_swiper/scrollable" items=posts partial=partial slides_per_view=row_cols %}

{% if more_button_link and more_button_title %}
    <p class="mt-5 mb-0 text-center">
        <a href="{{ more_button_link|link }}" class="btn btn-outline-primary material-symbol__box">
            {{ more_button_title }}

            <span class="material-symbol__icon">
                keyboard_arrow_right
            </span>
        </a>
    </p>
{% endif %}
