{% for item in items %}
    {% if not item.viewBag.isHidden %}
        <li role="presentation" class="col {{ parent == 'contacts' ? 'col-lg-2' }} nav-item d-flex flex-column level-{{ level }} {{ item.viewBag.cssClass }}">
            {% if parent == "contacts" and item.url %}
                <a href="{{ item.url }}" class="w-100 pb-0 mb-0">
            {% endif %}
                    <img src="{{ ['assets/images/menu/', item.title|slug, '.png']|join|theme }}" alt="{{ item.title }}" class="img-fluid w-100 mb-4">
            {% if parent == "contacts" and item.url %}
                </a>
            {% endif %}

            {% if item.url %}
                <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }} class="nav-link position-relative {{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'active' : '' }}">
                    {{ item.title }}
                </a>
            {% else %}
                <span class="nav-link position-relative {{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'active' : '' }}">
                    {{ item.title }}
                </span>
            {% endif %}

            {% if item.items %}
                <div class="submenu">
                    <div class="container-lg">
                        <ul class="nav flex-column">
                            {% partial __SELF__ ~ "::items" items=item.items level=3 %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}

<div class="col-lg-6 contact-support">
    <p class="h2">
        Kontakt a podpora
    </p>

    <p class="text-dark mb-4">
        Máte nezodpovězené dotazy, potřebujete poradit, nebo se objednat na servis vozidla? Kontaktujte nás.
        <span class="fw-bold">Jsme tu pro vás!</span>
    </p>

    <div class="card text-bg-light px-5 py-4">
        <div class="card-body">
            <div class="row row-cols-2">
                {% if this.theme.phone %}
                    <div class="col">
                        <p class="fw-bold fs-6 mb-2">
                            Pevná linka
                        </p>

                        <p class="text-primary fs-2 fw-bold mb-2">
                            <a href="tel:{{ this.theme.phone }}" class="text-decoration-none-w-hover">
                                {{ this.theme.phone }}
                            </a>
                        </p>

                        <p class="mb-0 fw-medium fs-6 text-dark">
                            Po – Pá (8 - 17 hod) <br>
                            So (8 - 12 hod)
                        </p>
                    </div>
                {% endif %}

                {% if this.theme.email %}
                    <div class="col">
                        <p class="fw-bold fs-6 mb-2">
                            E-mail
                        </p>

                        <p class="text-primary fs-2 fw-bold mb-2">
                            <a href="mailto:{{ this.theme.email }}" class="text-decoration-none-w-hover">
                                {{ this.theme.email }}
                            </a>
                        </p>

                        <p class="mb-0 fw-medium fs-6 text-dark">
                            Odpovídáme do 24 hodin.
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
