url = "/:fullslug*"
layout = "default"
title = "Page"
seoOptionsMetaTitle = "{{ page.metaTitle ?: page.title }}"
seoOptionsMetaDescription = "{{ page.metaDescription }}"

[page]
column = "fullslug"
value = "{{ :fullslug }}"

[Gallery gallery]
imagesPerPage = 16

[staticMenu sidebarmenu]

[breadcrumbs]

[collection faq]
handle = "FAQ\Question"

[cookiesManage cookiesmanage]

[blogPosts posts]
pageNumber = "{{ :page }}"
noPostsMessage = "Nenalezeny žádné příspěvky"
sortOrder = "published_at desc"
categoryPage = "page"
postPage = "page-post"

[Files files]
order = "sort_order asc"

[pricelist]

[openinghours]

[contactForm contactform]

[timeline]
==
<?php
function onEnd()
{
    $code = $this["page"]->menu;

    $this["sidebarmenu"]->resetMenu($code);
}
?>
==
{% if page.slider %}
    <div class="container-fluid g-0">
        <div class="container-fluid g-0">
            {% partial "_swiper/slider" slides=page.slider.slides settings=page.slider %}
        </div>
    </div>
{% endif %}

<div class="container-fluid">
    <div class="container-lg">
        <div id="breadcrumb">
            <div class="row g-5">
                <div class="col {% if sidebarmenu.menuItems is not null %}col-xl-9 offset-xl-3{% endif %}">
                    {% component "breadcrumbs" %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5{% if sidebarmenu.menuItems is null %} g-0{% endif %}{% if skoda_ci %} skoda-ci{% endif %}" id="page">
    <div class="container-{% if sidebarmenu.menuItems is null %}fluid g-0{% else %}lg{% endif %} pb-xl-4">
        <div class="row g-0 g-xl-5">
            {% if sidebarmenu.menuItems is not null %}
                <div class="sidebar d-none d-xl-block col-xl-3">
                    {% component "sidebarmenu" %}
                </div>
            {% endif %}

            <div class="col {% if sidebarmenu.menuItems is not null %}col-xl-9{% endif %}">
                <div class="container-fluid{% if sidebarmenu.menuItems is not null %} g-0{% endif %}">
                    <h1 class="mb-4 container-lg{% if sidebarmenu.menuItems is not null %} g-0{% endif %}">
                        <span>
                            {{ page.title }}
                        </span>
                    </h1>
                </div>

                <div class="d-flex flex-column gap-5">
                    {% for content in page.contents %}
                        {% set variables = {} %}

                        {% for variable in content.variables %}
                            {% set variables = variables|merge({(variable.name): variable.type == "text" ? variable.value : variable.link}) %}
                        {% endfor %}

                        <div class="container-fluid{% if content.no_gutters %} g-{% if content.no_gutters_breakpoint != "xs" %}{{ content.no_gutters_breakpoint }}-{% endif %}0{% endif %} {{ content.type|slug }} {{ content.type|slug }}--{{ content.title|slug }}">
                            <div class="container{% if content.is_fluid %}-fluid{% else %}-lg{% endif %}{% if content.no_gutters %} g-{% if content.no_gutters_breakpoint != "xs" %}{{ content.no_gutters_breakpoint }}-{% endif %}0{% endif %}">
                                {% if content.heading %}
                                    <h2 class="mb-4">
                                        <span>
                                            {{ content.heading }}
                                        </span>
                                    </h2>
                                {% endif %}

                                {% if content.type == "text" %}
                                    {{ content.text|bootstrap|content }}
                                {% elseif content.type == "image_text" %}
                                    {% partial content.partial image=content.image text=content.text heading=content.heading switched=content.switch_order size=(content.is_fluid ? "lg") %}
                                {% elseif content.type == "blog" %}
                                    {% component "posts" categoryFilter=content.blog_category.slug rowCols=content.row_cols postsPerPage=content.items_per_page showPagination=true partial=content.partial sortOrder=content.blog_sort_order %}
                                {% elseif content.type == "gallery" %}
                                    {% component "gallery" gallery=content.gallery.slug %}
                                {% elseif content.type == "files" %}
                                    {% component "files" category=content.files_category.slug %}
                                {% elseif content.type == "pricelist" %}
                                    {% component "pricelist" slug=content.pricelist.slug partial=content.partial %}
                                {% elseif content.type == "opening_hours" %}
                                    {% component "openinghours" slug=content.opening_hours.slug %}
                                {% elseif content.type == "faq" %}
                                    {% partial "_accordion/faq" items=faq %}
                                {% elseif content.type == "slider" %}
                                    {% partial "_swiper/slider" slides=content.slider.slides settings=content.slider %}
                                {% elseif content.type == "embed" %}
                                    {% partial "_block/embed" embed=content.embed %}
                                {% elseif content.type == "cookies" %}
                                    {% component "cookiesmanage" %}
                                {% elseif content.type == "contacts" %}
                                    {% partial "_contacts/default" partial=content.partial row_cols=content.row_cols %}
                                {% elseif content.type == "jobs" %}
                                    {% partial "_jobs/default" partial=content.partial row_cols=content.row_cols post_page=content.post_page %}
                                {% elseif content.type == "links" %}
                                    {% partial "_links/default" partial=content.partial row_cols=content.row_cols category=content.links_category %}
                                {% elseif content.type == "links_slider" %}
                                    {% partial "_swiper/scrollable" items=content.links_category.links.toNested.lists("link") slides_per_view=content.row_cols partial=content.partial %}
                                {% elseif content.type == "partial" %}
                                    {% partial content.partial %}
                                {% elseif content.type == "contact_form" %}
                                    {% component "contactform" %}
                                {% elseif content.type == "timeline" %}
                                    {% component "timeline" slug=content.timeline.slug %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
