<div class="row row row-cols-{{ min(1, row_cols) }} g-4 row-cols-sm-{{ min(2, row_cols) }} gx-sm-4 row-cols-lg-{{ min(3, row_cols) }} gx-lg-4 row-cols-xl-{{ min(4, row_cols) }} row-cols-xxl-{{ row_cols }}">
    {% for category_link in category.links.where("link.is_enabled", true) %}
        <div class="col">
            {% partial partial item=category_link.link image=category_link.link.image link=category_link.link.link|link show_details=false %}
        </div>
    {% endfor %}
</div>

{% if more_button_is_published %}
    <p class="mt-5 mb-0 text-center">
        <a href="{{ more_button_link|link }}" class="btn btn-outline-primary material-symbol__box">
            {{ more_button_title }}

            <span class="material-symbol__icon">
                keyboard_arrow_right
            </span>
        </a>
    </p>
{% endif %}
