{% set pricelist = __SELF__.pricelist %}

<div class="pricelist pricelist-{{ pricelist.slug }}">
    <div class="row g-0">
        <div class="col-6 p-2 border-bottom border-1 border-black px-md-3 fw-bold col-sm-8">

        </div>

        <div class="col-3 p-2 border-bottom border-1 border-black px-md-3 fw-bold col-sm-2">
            Cena s DPH <br>
            4 kola (sada)
        </div>

        <div class="col-3 p-2 border-bottom border-1 border-black px-md-3 fw-bold col-sm-2">
            Cena s DPH <br>
            1 kolo
        </div>
    </div>

    {% for item in pricelist.items %}
        <div class="row g-0">
            <div class="col-6 p-2 border-bottom border-1 border-black px-md-3 col-sm-8">
                {{ item.title }}
            </div>

            <div class="col-3 p-2 border-bottom border-1 border-black px-md-3 col-sm-2">
                {% if item.price_1 %}
                    {{ item.price_1|number_format(0, ",", " ") }} Kč
                {% endif %}
            </div>

            <div class="col-3 p-2 border-bottom border-1 border-black px-md-3 col-sm-2">
                {% if item.price_2 %}
                    {{ item.price_2|number_format(0, ",", " ") }} Kč
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
